<ion-header>
  <ion-toolbar>
    <ion-title class="title">
      <ion-row>
        <ion-col size=1.5>
          <ion-icon (click)="back()" name="close-circle" size="large" ></ion-icon>
        </ion-col>
        <ion-col size=9>
          ผลงาน
        </ion-col>
        <ion-col size=1>
            <ion-icon name="checkmark" size="large" ></ion-icon>
        </ion-col>
      </ion-row>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngFor="let item of portfolio">
    <ion-grid>
      <ion-row>

        <ion-col size=5>
          <ion-slides pager="true">
              <ion-slide *ngFor="let itm of item.image">
                  <img class="img-style"  [src]="itm.url">
              </ion-slide>
            </ion-slides>

        </ion-col>
        <ion-col size=7>
          <ion-card-header class="crad">
            <ion-card-title >{{item.title}} </ion-card-title>
          </ion-card-header>

          <ion-card-content >{{item.detail}}</ion-card-content>
          <div class="text1">{{item.date}}</div>
        </ion-col>

      </ion-row>
    </ion-grid>
  </ion-card>

</ion-content>


<ion-footer>
  <ion-toolbar text-center>
      <ion-row>
          <ion-col>          
              <ion-icon size="large" name="images"></ion-icon></ion-col>
         <ion-col><ion-icon size="large" name="camera"></ion-icon></ion-col>
       <ion-col><ion-icon size="large" name="happy"></ion-icon></ion-col>
       <ion-col><ion-icon size="large" name="more"></ion-icon></ion-col>
       </ion-row>
  </ion-toolbar>
</ion-footer>