.img-style {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.text1 {
    text-align: left;
}

.crad {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 15px;
    padding-bottom: 5px;
    padding: 5px;
    display: table;

}

.title {
    padding-inline-start: 0px;
    padding-inline-end: 0px;
    text-align: center;
}

.crad-style {
    height: 40vh;
    width: 100%;
}

.img-style2 {
    height: 29vh;
    width: 100%;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

// .sc-ion-card-md-h {
//     margin-left: unset;
//     margin-right: unset;
//     -webkit-margin-start: 0px;
//     margin-inline-start: 0px;
//     -webkit-margin-end: 0px;
//     margin-inline-end: 0px;
// }

.margin-non {
    margin: 0px
}

.font-size {
    font-size: 2vh;
}