.img-style {
    height: 120px;
    width: 190px;
}

.text1 {
    text-align: right;
}
.crad {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 15px;
    padding-bottom: 5px;
    padding: 5px;
    display: table;
}
.title {
    padding-inline-start: 0px;
    padding-inline-end: 0px;
    text-align: center;
}

ion-fab-button[data-desc] {
    position: relative;
}
  
ion-fab-button[data-desc]::after {
    position: absolute;
    content: attr(data-desc);
    z-index: 1;
    right: 55px;
    bottom: 4px;
    padding: 9px;
    border-radius: 15px;
    color: white;
    background-color: rgba(0,0,0,0.7);
    box-shadow: 0 3px 5px -1px rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12);
}