<ion-header>
  <ion-toolbar>
    <ion-title class="title">
      <ion-row>
        <ion-col size=1.5>
          <ion-icon (click)="back()" name="close-circle" size="large"></ion-icon>
        </ion-col>
        <ion-col size=9>
          ผลงาน
        </ion-col>

      </ion-row>
    </ion-title>
  </ion-toolbar>
  <ion-progress-bar type="indeterminate" [hidden]=datasuccess></ion-progress-bar>
</ion-header>

<ion-content>

  <ion-row *ngIf="portfolioData" style="margin-top: 5px;">
    <ion-col size="6" *ngFor="let item of portfolioData">
      <ion-card class="crad-style margin-non">
        <ion-row>
          <ion-col size=12>
            <div class="img-style2">
              <img class="img-style" (click)="viewer(item.images)" [src]="item.images">

            </div>

          </ion-col>
          <ion-col size=12>
            <div class="text1">
              <p class="ellipsis font-size" style="margin: 0px"> {{item.title}} </p>
              <p class="ellipsis font-size" style="margin: 0px"> {{item.detail}}</p>
              <p class="ellipsis font-size" style="margin: 0px"> {{item.date | date :  "M/d/yy, h:mm a"}}</p>
            </div>
          </ion-col>

        </ion-row>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>