<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-col size=1>
        <ion-icon name="close-circle" size="large" (click)="back()"> </ion-icon>
      </ion-col>
      <ion-col size=9>
        <ion-title style="text-align:center">
         แก้ไขโปรไฟล์
        </ion-title>
      </ion-col>
      <ion-col size=1>
        <ion-icon name="star-outline" size="large"></ion-icon>
      </ion-col>
      <ion-col size=1>
        <ion-icon name="more" size="large" (click)="editprofile()"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>


<ion-content>

    <ion-item> 

      <ion-row>
        
      <ion-col >
      

    <ion-avatar class="kkk">
      <img  src="https://cdn2.iconfinder.com/data/icons/ui-1/60/05-512.png">
    </ion-avatar>
   
          
</ion-col > 

<ion-icon class="kk" name="build"></ion-icon>

</ion-row>        
</ion-item>

<ion-row *ngFor="let item of Status">
  <div class = "col1"><ion-col >
  </ion-col></div>
  <div class = "Col2">
    <ion-col >
      <ion-label floating >{{item.name}}</ion-label>
    </ion-col>
  </div>
  <ion-col class = "Col3">
    <ion-item><ion-input type="text" ></ion-input></ion-item>
  </ion-col>
</ion-row>
</ion-content>
