.kkk {
    margin-left: 145px
}
.kk {
    margin-left: 330px
}
.header1{
    text-align :center;
}

.header2{
    text-align :right;
}

.Col1{
    text-align :left;
    margin: auto;
    width: 20%;
    height: auto;   
}

.Col2{
    text-align :left;
    margin: auto;
    width: 32%;
    height: auto;    
}

.Col3{
    text-align :left;
    margin: auto;
    width: auto;
    height: auto;    
    font-size: auto;
}

.header2{
    text-align :right;
}