.title {
    text-align: center
}

.img-style {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.card {
    width: 100%;
    height: 24vh;
}

.fab {
    height: 4.5vh;
    width: 4.5vh;
    margin-bottom: 10px;
}

.border {
    border-radius: 5%;
    border: solid 1px lightgray;
}

.margin-card {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}