.title{
    text-align: center
  }

.img-style {
  object-fit: cover;
  width: 100%;
}

.card{
  height: 150px;
  width: 150px;
}

.fab {
  height: 30px;
  width: 30px;
  margin-bottom: 10px;
}

.border {
  border-radius: 5%;
    border: solid 1px lightgray;
}

.margin-card{
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
