.header1{
    text-align :center;
}

.header2{
    text-align :right;
}

.content{
    text-align :center;
}

.input{
    width: 70px;
    float :center;
    text-align :center;
    margin: auto;
    font-size: 15px;
}