<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-col size=1>
        <ion-icon name="arrow-dropleft-circle" size="large" (click)="goBack()"> </ion-icon>
      </ion-col>
      <ion-col size=9>
        <ion-title class="title">
          รายชื่อนักเรียน
        </ion-title>
      </ion-col>
      <ion-col size=2 >
        
      </ion-col>
    </ion-row>
  </ion-toolbar>
  <ion-progress-bar type="indeterminate" [hidden]=datasuccess></ion-progress-bar>
</ion-header>

<ion-content *ngIf="dataclassSchool">
  <ion-row>
    <ion-searchbar></ion-searchbar>
  </ion-row>
  <ion-list>
    <ion-item>
      <ion-label>อนุบาล {{dataclassSchool.class}}/{{dataclassSchool.classroom}}</ion-label>
    </ion-item>
    <ion-list *ngIf="datasuccess">
      <ion-item *ngFor="let item of data.datas" (click)="list(item)">
        <ion-row style="width: 100vw;">
          <ion-col size="4">
            <ion-avatar item-start>
              <img width="30" [src]=item.image>
            </ion-avatar>
          </ion-col>
          <ion-col size="8">
            <p>
              {{item.nametitle}}{{item.firstname}} {{item.lastname}}
            </p>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>
  </ion-list>
</ion-content>