.img-style {
    height: 120px;
    width: 190px;
}

.text1 {
    text-align: right;
}
.crad {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 15px;
    padding-bottom: 5px;
    padding: 5px;
    display: table;
}
.title {
    padding-inline-start: 0px;
    padding-inline-end: 0px;
    text-align: center;
}
