.img-style {
    height: 140px;
    width: 250px;
}

.text {
    text-align: center;
}

.text1 {
    text-align: right;
}
.padding {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 15px;
    padding-bottom: 5px;
}