<ion-header>
    <ion-toolbar>
      <ion-row>
        <ion-col size=1>
          <ion-icon name="close-circle" size="large" (click)="goBack()"> </ion-icon>
        </ion-col>
        <ion-col size=9>
          <ion-title class="title">
              ประวัติแฟ้มผลงาน
          </ion-title>
        </ion-col>
        <ion-col size=2 class="checkmark">
          <ion-icon name="checkmark-circle"  size="large"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-header>

<ion-content>

</ion-content>
