.height {
    margin-left: 20px;
}
.date {
    margin-left: 20px;
}
.weight {
    margin-left: 20px;
}
.unit {
    margin-right: 20px;
}


.Datacol1{
    margin: auto;
    float : center;
    text-align :left;
}

.Datacol2{
    margin: auto;
    float :center;
    text-align :center;
}

.Datacol3{
    margin: auto;
    float :center;
    text-align :right;
}

.input{
    width: 70px;
    float :center;
    text-align :center;
    margin: auto;
    font-size: 15px;
}

