.center {
    text-align: center;
}

;

.center2 {
    justify-content: center;
}

.contain {
    height: 100%;
}

.img-style {
    height: 100%;
    width: 100%;
}

.margin {
    margin-bottom: 458px;
}

.icon {
    font-size: 5vh;
}

.margin-top {
    margin-top: 6vh;
}

.imgProfile {
    width: 40vh;
    height: 40vh;
}

.font-name {
    font-size: 3.3vh;
}
.col-height {
    height: 13vh;
}
.font-size{
    font-size: 3vh;
}