.center{
    text-align: center;
  };
  .center2{
    justify-content: center;
  }
  
  .contain {
    height: 100%;
  }
  
  .img-style {
    height: 100%;
    width: 100%;
  }
  
  .margin{
    margin-bottom: 458px;
  }
  .icon{
    font-size: 30px;
  }
  .margin-top{
    margin-top: 180px;
  }
  .imgProfile{
    width: 180px; 
    height: 180px;
  }