<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-col size=1>
        <ion-icon name="arrow-dropleft-circle" size="large" (click)="backtab4()"> </ion-icon>
      </ion-col>
      <ion-col size=11>
        <ion-title style="text-align:center">
          โปรไฟล์
        </ion-title>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-row size=12 class="center2 margin-top">
    <ion-avatar item-start class="imgProfile">
      <img [src]=data.image>
    </ion-avatar>
  </ion-row>

  <ion-row class="center2">
    <p class="font-name">{{data.nametitle}}{{data.firstname}} {{data.lastname}}</p>
  </ion-row>


</ion-content>


<ion-footer>
  <ion-toolbar text-center>
    <ion-row>
      <ion-col size=6 class="col-height">
        <ion-row (click)="score()">
          <ion-col size=12>
            <ion-icon name="bookmarks" class="icon"></ion-icon>
          </ion-col>
          <ion-col size=12>
            <p class="font-size" style="margin: 0px">ผลการเรียน</p>

          </ion-col>
        </ion-row>
      </ion-col>

      <ion-col size=6 class="col-height">
        <ion-row (click)="evo()">
          <ion-col size=12>
            <ion-icon name="trending-up" class="icon"></ion-icon>
          </ion-col>
          <ion-col size=12>
            <p class="font-size" style="margin: 0px">พัฒนาการ</p>

          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>

<ion-footer>
  <ion-toolbar text-center>
    <ion-row>
      <ion-col size=6 class="col-height">
        <ion-row>
          <ion-col size=12 (click)="goProtfolio()">
            <ion-icon name="filing" class="icon"></ion-icon>
          </ion-col>
          <ion-col size=12>
            <p class="font-size" style="margin: 0px">ผลงาน</p>

          </ion-col>
        </ion-row>
      </ion-col>

      <ion-col size=6 class="col-height">
        <ion-row (click)="profilesave()">
          <ion-col size=12>
            <ion-icon name="body" class="icon"></ion-icon>
          </ion-col>
          <ion-col size=12>
            <p class="font-size" style="margin: 0px"> น้ำหนัก-ส่วนสูง</p>

          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>