<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-title class="title">
        ห้องเรียน
      </ion-title>
    </ion-row>
  </ion-toolbar>
  <ion-progress-bar type="indeterminate" [hidden]=datasuccess></ion-progress-bar>
</ion-header>

<ion-content>
  <ion-list *ngIf="dataclass">
    <ion-item *ngFor="let item of dataclass.data.class">
      <ion-row (click)="studentList(item)">
          {{item.classtype}} {{item.class}}/{{item.room}} (จำนวน {{item.count}} คน)
      </ion-row>
      <ion-button expand="block" slot="end" (click)="portfolioClassroom(item)">เพื่มผลงาน</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
